@import url('https://fonts.googleapis.com/css?family=Amaranth:700,400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    z-index: 1;
}
li{
    list-style-type: none;
}
.social {
    background: #ffffe0;
    width: 2.3rem;
    height: 2.3rem;
    padding:0.55rem;
    font-size:1.2rem;
    border-radius:12%;
    text-align: center;
}
.social:hover {
    border-radius: 50%;
	-webkit-transition: all 0.4s;
	   -moz-transition: all 0.4s;
	     -o-transition: all 0.4s;
	        transition: all 0.4s;
}
.fa-facebook:hover { 
    color:white;
    background-color: #3B5998;
}
.fa-twitter:hover {
    background: #55ACEE;
    color:white;
}
.fa-youtube:hover {
    color:white;
    background: #bb0000;
}
.fa-facebook {
    color: #3B5998;
}  
.fa-twitter {
    color: #55ACEE;
}
.fa-youtube {
    color: #bb0000;
}
.navbar {
    font-family: arial;
    color: #584E4A;
    padding: 5px 10px;
    font-size:18px;
    background-color: #fada5e;
    opacity: 1;
    box-shadow: 0px 4px 16px 0px rgba(119, 119, 119, 0.5);
}
.navbar .active {
    font-weight: bold;
}
.navbar-brand {
    padding-left: 1.9rem;
}
.navbar li .active{
    margin-top: -2px;
    line-height: 1rem;
    border-bottom: 3px solid black;
    transition: all .3s;
}
.navbar li:hover :not(.active) {
    margin-top: -2px;
    line-height: 1rem;
    border-bottom: 3px solid black;
    transition: all .3s;
}
.centerMenu{
    margin:14px auto 8px;
}
.navbar .nav-item{
    padding:0 8px;
}
.mainImage {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7) ), url(../assets/image/main.jpg) ;
    height:850px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;/*
    margin-top: 0px;
    width:100%;*/
}
.imageText {
    color: white;
    filter: brightness(1);
    width: 100%;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.scrollDown span{
    color: #fada5e;
}
.scroll {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size:50px;
    margin-top: 60px;
}
.bounce {
    animation-name: scrollBounce;
    animation-timing-function: linear;
}

@keyframes scrollBounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-40px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-10px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
.italic{
    font-style: oblique;
    font-weight: thin;
    font-family: "Gill Sans", sans-serif;
    opacity:0.8;
}
.jumbotron{
    padding-top:80px;
    margin-bottom: 0px;
    background-color: white;
    text-align: center;
}
.jumbotron img{
    margin-top: 2rem;
    filter: invert(100%);
}
.featuring{
    border: none;
    align-items: center;
    margin-bottom: 60px;
}

.featuring img{
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3), 2px 6px 20px 0 rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    height: 50%;
    width: 90%;
}
.featuring img:hover{
    margin-top: -45px;
    width: 100%;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.6), 2px 6px 20px 0 rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease-out;
}
.iskcon{
    font-size: 5rem;
    font-family: monospace;
}
.follow{
    font-size:3rem;
    margin-top: 0.5rem;
    text-decoration: underline solid grey 5px;
    text-underline-offset: 0.4rem;
    
}
footer{
    background-color: #363839;
    color:white;
}
footer .col-12{
    margin: 20px 0px;
}
footer p{
    max-width: 49rem;
}
footer .social{
    background-color: white;
    margin: 20px 10px;
}
.footerSocial{
    align-items: center;
    margin:20px 0px;
}
.copyright{
    background-color: black;
    font-weight: 100;
    line-height: 1.6rem;
}
.copyright a{
    color:#6c757d;
    display: inherit;
    padding: 0px;
}
.copyright a:hover{
    color: white;
}
